<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./refs/head") %>
    <title>ShortUrl-Generator</title>
</head>
<body>
    <%- include("./refs/nav") %>

    <%- include("./refs/scripts") %>
</body>
</html>