<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./refs/head") %>
    <title>SignUp Page</title>
</head>
<body>
  <%- include("./refs/nav") %>
    <h1>Login</h1>
    <div>
        <form action="/user" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="name" name="name" class="form-control" id="name" aria-describedby="name">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <%- include("./refs/scripts") %>

</body>
</html>